body{
    box-sizing: border-box;
    margin: 0;
    width: 920px;
}
h1{
    color: blueviolet;
}

section > div {
    background-color: cadetblue;
}
section > div > p {
    background-color: crimson;
}

.mes_sections {

    background-color: palegreen;
}

/*On sélectionne les id avec des "#" */

/*flex-basis permet au différents éléménets de garder leur ratio définit*/