.page{
    margin: 80px;
    padding: auto;
    background-color:rgba(192, 161, 121, 0.507);
}

/*MENU*/
.nav{
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }



.image{
    text-align: center;
}



/* PARAGRAPHE */

.paragraphe{
    background-color: salmon;
}
#titre_un{
    text-align: center;
}

#titre_deux{
    text-align: center;
}

.row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border: solid;
  }


/*.formulaire*/

form {
      margin: 0 auto;
      width: 410px;
      padding: 1em;
      border: 0.5px solid rgb(17, 11, 11);
      border-radius: 1em;
    }
    
form div + div {
     margin-top: 1em;
    }
    
label {
      display: inline-block;
      width: 90px;
      text-align: right;
    }
    
input, textarea {
      font: 1em sans-serif;
      width: 300px;
      box-sizing: border-box;
      border: 1px solid rgb(126, 94, 94);
    }
    
input:focus, textarea:focus {
      border-color: rgba(192, 161, 161, 0.507);
    }
    
textarea {
      vertical-align: top;
}

.button{
        text-align: center;
    }
    
