* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 60.2%;
    font-family: Didot;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
}

h4,
h5{
    font-size: 2.8rem;
}

li{
    font-size: 1.7rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}

/*PAGE1*/
/*HEAD*/

.main-head{
    background: #3E3D3D;
    color: #ffffff
}

/*Titre Porfolio Bachelor*/
nav {
    min-height: 5vh;

}
nav ul{

    list-style: none;
    display: flex;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    justify-content:center;

}

li{
    margin: 0 27px;
}

#logo{
    text-align: center;
    padding: 25px;
}

hr{
    width: auto;
    color: ivory;
}

.backg{
max-width: 100%;
height: auto;
display: block;
}

/*PAGE2 (ETUDES)*/

#carre {
    width  : 50px;
    height : 50px;
    background : green;
  }